@page
@model MechWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<partial name="_ValidationScriptsPartial" />
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="LoginCredentials.Username"> Username</label>
                    <input type="text" asp-for="LoginCredentials.Username" class="form-control" />
                    <span asp-validation-for="LoginCredentials.Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="LoginCredentials.Password">Password</label>
                    <input type="password" asp-for="LoginCredentials.Password" class="form-control" />
                    <span asp-validation-for="LoginCredentials.Password" class="text-danger"></span>
                </div>
                @*<div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" asp-for="LoginCredentials.RememberMe"/>
                    <label class="form-check-label" asp-for="LoginCredentials.RememberMe">Remember me</label>
                </div>*@
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>