@page
@model MechWeb.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h1 class="text-center" >Register</h1>
<div class="container-fluid ">
    <div class="row">
        <div class="col-6" style="background-color:yellow;">
            <h3><a href="/RegisterServicePoint" class="btn btn-default"><b>Repair shop</b><img src="~/Car_repair_shop.jpg" class="img-fluid" /></a></h3>

        </div>
        <div class="col-6" style="background-color:pink;">
            <h3><a href="/RegisterUser" class="btn btn-default"><b>Car owner</b><img src="~/carOwner.webp" class="img-fluid " /></a></h3>

        </div>
    </div>
</div>

