@if (User.Identity != null && User.Identity.IsAuthenticated)
{

    <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
        <li class="nav-item m-1">
            <a class="nav-link text-dark" asp-page="/Profile">Profile</a>
        </li>
        <li class="nav-item m-1">
            <form method="post" class="form-inline">
                <button type="submit" class="btn btn-light nav-link " asp-page="/Logout">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
        <li class="nav-item m-1">
            <a class="btn btn-primary" asp-page="/Login">Login</a>
        </li>
        <li class="nav-item m-1">
            <a class="btn btn-primary" asp-page="/Register">Register</a>
        </li>
    </ul>
}